	{% load static %}
<!DOCTYPE html>

<html lang
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Yieltor</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<style>
#pageintro{
     background-image: url('{% static 'images/img1.jpg' %}');
     color: white;
	  /* Full height */


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     height: 750px;
     padding: 100px 0 0 0;
     }

     h1{
       font-size: 50px;
       font-weight: bold;
     }

</style>
<body id="top">

<div class="wrapper row0">
  <div id="topbar" class="hoc clear">

    <div class="fl_left">
     <!-- <ul class="nospace">
        <li><a href="index.html"><i class="fas fa-home fa-lg"></i></a></li>

        <li><a href="#">CROP YIELD</a></li>
        <li><a href="#">PLANT DISEAE</a></li>


      </ul>-->
    </div>
    <div class="fl_right">
      <!--<ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
        <li><i class="fas fa-envelope rgtspace-5"></i> info@domain.com</li>
      </ul>-->
    </div>

  </div>
</div>


  {% block content %}
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="pageintro" class=" clear">


      <p></p>
      <h3 class="heading"></h3>
      <p></p>
      <div style="margin-top:200px;">
	 <center> <h1>CROP PREDICTION</h1>

			<h1>Crop: {{a}}</h1>
			<h1>Alternative Crop: {{b}}</h1>

      </center></div>


  </div>
</div>

{% endblock %}
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
